<!-- Card -->
<div class="card">
<!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="/assets/foods/{{food.foodId}}/image.png"
      alt="Card image cap">
  </div>
  <div class="container ps-1">
    <div class="row">
      <div class="col-sm-6">
        <p class="mb-0" style="font-size: 10px"><b><i>Category:</i></b> {{food.foodCategory.title}}</p>
      </div>
      <div class="col-sm-6">
         <p class="mb-0" style="font-size: 10px"><b><i>Type:</i></b> {{food.foodType.title}}</p>
      </div>
    </div>
  </div>
  <!-- Card content -->
  <div class="card-body p-1">
    <!-- Title -->
    <h4 class="card-title mb-0">{{food.title}}</h4>
    <!-- Text -->
    <p class="card-text">{{food.description}}</p>
    <!-- Button -->
    <a [routerLink]="['/details',food.foodId]" class="btn btn-sm btn-dark">Details</a>
  </div>
</div>
<!-- Card -->
